{% extends "base.html" %}
{% block title %} 💼 Cadastrar Empresa {% endblock %}

{% block content %}
<h2>Nova Empresa</h2>

    <div class="col-12">
        <p><a href="/adm" class="btn btn-primary">Voltar</a></p>
    </div>



<hr>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class=" d-flex justify-content-center">Cadastrar Nova Empresa</h1>

            {% if msg_erro %}  <!-- Exibe mensagem de erro, se houver -->
                <div class="alert alert-danger" role="alert">
                    {{ msg_erro }}
                </div>
            {% endif %}
            <form action="/cadastrar_empresa" method="post" class="needs-validation" novalidate>

                <h2 class="d-flex justify-content-center">Informações da Empresa</h2>
                <hr>

                <div class="mb-3">
                    <label for="nome_empresa" class="form-label">Nome Fantasia da Empresa</label>
                    <input type="text" class="form-control" name="nome_empresa" maxlength="100" required> <br><br>
                    <div class="valid-feedback">
                        Parece bom! Parabéns
                    </div>
                    <div class="invalid-feedback">
                        Algo está errado! Preencha o campo Ex: DevLadies
                    </div>
                </div>
                <div class="mb-3">
                    <label for="cnpj" class="form-label">CNPJ</label>
                    <input type="text"  id="cnpj" class="form-control"  name="cnpj"  placeholder="Somente números" required> <br><br>
                    <div class="valid-feedback">
                        Parece bom! Parabéns
                    </div>
                    <div class="invalid-feedback">
                        Algo está errado! Preencha o campo apenas com números Ex: 12345678901234
                    </div>
                </div>

                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="text" id="telefone" name="telefone" class="form-control" placeholder="Somente números" required> <br><br>
                    <div class="valid-feedback">
                        Parece bom! Parabéns
                    </div>
                    <div class="invalid-feedback">
                        Algo está errado! Preencha o campo apenas com números Ex: 12345678901
                    </div>
                </div>

                <h2>Informações para acesso da plataforma</h2>

                <div class="mb-3">
                    <label for="email" class="form-label">E-mail </label>
                    <input type="email"  class="form-control" name="email" maxlength="100" required><br><br>
                    <div class="valid-feedback">
                        Parece bom! Parabéns
                    </div>
                    <div class="invalid-feedback">
                        Algo está errado! Preencha o campo Ex: empreGO.contato@gmail.com
                    </div>
                </div>

                <div class="mb-3">

                    <label for="senha" class="form-label">Senha</label>
                    <input type="text" class="form-control" name="senha" maxlength="30" required><br><br>
                    <div class="valid-feedback">
                        Parece bom! Parabéns
                    </div>
                    <div class="invalid-feedback">
                        Algo está errado! Preencha o campo corretamete Ex: Senh@SuperForte1234#
                    </div>
                </div>


                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Cadastrar Empresa</button> <br>
                    <hr>
                    
                </div>
                
            </form>

        </div>
    </div>
</div>

<!--script do bs-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!--link de inputmask-->
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>

<!--configuração inputmask-->
<script>
        Inputmask("99.999.999/9999-99").mask(document.getElementById("cnpj"));//mascara para cnpj
        Inputmask("(99)99999-9999").mask(document.getElementById("telefone"));//mascara para telefone
</script>

<!--Validação-->
<script>
    (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

{% endblock %}